div.item {
	min-width: 200px;
	width: 20%;
	height: 450px;
	background-color: #f3ee78;
	float: left;
	margin: 10px;
	padding: 10px;
	position: relative;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div.item button.edit {
	right: 70px;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}