.Mydiv {
background-color: white;
border-radius: 10px;
border: 2px solid grey;
margin-top: 25px;
margin-bottom: 5px;
margin-left: 500px;
margin-right: 500px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5px;

}

.Mydivdate{
float: left;
color: #70757a;

}
.Mydivrow{
display: table-row

}
.Mydivcell{
width: 60px; display: table-cell;

}

#fullnameerror {
  color: red;
  font-size: 10px;
}


#otherlangtext2{
  display: none;
}

#otherlangtext{
  display: none;
}

#othertext{
  display: none;
}

input[type=submit] {
  font-family: Tahoma;
  background:rgba(150, 6, 150, 0.541);
  color: white;
  border: none;
  padding: 15px 32px;
}